<!DOCTYPE html>
<html>
<% include ./partials/head %>
  <body>
  <% include ./partials/header %>

  <div>
  <form action="/create" method="POST" class="container" id="form">
    <input type="text" name="name" placeholder="enter robot name"/>
    <input type="text" name="description" placeholder="enter description"/>
    <button class="btn" type="submit">Add</button>
  </form>
</div>
  </body>
</html>
