<!DOCTYPE html>
<html>
<% include ./partials/head %>
  <body>
  <% include ./partials/header %>

  <div>
  <form action="/create" method="post">
    <input type="text" name="robotName" placeholder="enter robot name"/>
    <button class="btn" type="submit">Add</button>
  </form>
</div>
  </body>
</html>
