<!DOCTYPE html>
<html>
<% include ./partials/head %>

  <body>
    <% include ./partials/header %>
    <div>
      <h1 class="row center">Welcome to Robot World</h1>
      <p class="row center">Create your own robot and add it to your database!</p>
  
  </body>
</html>
