<!DOCTYPE html>
<html>
<% include ./partials/head %>

  <body>
    <% include ./partials/header %>
    <div>
      <h1 class="row center">Welcome to Robot World</h1>
      <p class="row center">Create your own robot and add it to your database!</p>
    </div>

    <div>
    <form action="/robots" method="post">
      <input type="text" name="name" placeholder="enter robot name"/>
      <button class="btn" type="submit">Add</button>
    </form>
  </div>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <tr>
        <td>test</td>
        <td>test2</td>
      </tr>
    </tbody>
  </table>
</div>
  <div>

  </div>
  </body>
</html>
