<% include ./partials/head %>
<body>
  <% include ./partials/header %>

  <table class="table">
    <thead>
      <th>Name</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <% robotArray.forEach( function (robotItem) {
        var deleteURL = "/robots/delete/" + robotItem.replace(/ /g, '%20') %>

      <tr>
        <td> <%= robotItem %> </td>
        <td><a href=<%= deleteURL%>>Delete</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>

  </body>
</html>
