<% include ./partials/head %>
<body>
  <% include ./partials/header %>

  <table class="container table">
    <thead>
      <th>Name</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <% robots.forEach( function(robot) { %>
          <% action = '/robots/' + robot.id %>
            <tr>
            <td>
              <a href=<%= action %>><%= robot.title %></a>
            </td>
            <td><%= robot.description %></td>
            <td>
              <form action=<%= action %> method='POST'>
                <button class='btn waves-effect' type='submit'>Delete</button>
              </form>
            </td>
        <% }); %>

    </tbody>
  </table>

  </body>
</html>
